// Google Fonts
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display+SC&family=Roboto:wght@300;400&display=swap');

// Site Palette
$white-smoke: #FAFAFA;
$black: #080808;
$white: #FFFFFF;
$light-gray: #DDDDDD;

// Site Font Size
$nano: 15px;
$small: 19px;
$medium: 25px;
$large: 30px;

@mixin landscape{
    @media (orientation: landscape) and (max-width: 992px){
        @content;
    }
}

@mixin tablet{
    @media (min-width: 600px){
        @content;
    }
}

@mixin laptop{
    @media (min-width: 992px){
        @content;
    }
}

@mixin desktop{
    @media (min-width: 1400px){
        @content;
    }
}


// Reset CSS
*,
*::after,
*::before,
a,
ul{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	text-decoration: none;
    list-style: none;
}

body{
    background-color: $white-smoke;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

@include desktop{
    .container{
        max-width: 80%;
    }
}

/* Hamburger Animate */
header{
    .topbar{
        padding: 10px;
        top: 0;
        position: fixed;
        width: 100%;
        z-index: 4;
        background-color: $black;
        font-size: $large;

        @include laptop{
            &{
                top: 50px;
                z-index: 3;
                padding: 10px;
            }
        }

        a{
            color: $white;
            font-family: 'Playfair Display SC', serif;

            &:hover{
                opacity: .5;
            }
        }

        a:nth-child(2){
            margin: 0 30px;
            position: relative;

            span{
                font-size: $nano;
                position: absolute;
                top: 0;
            }
        }

        #chk{
            display: none;

            &:checked ~ label .hamburger{
                transform: rotate(45deg);
            }

            &:checked ~ label .hamburger:before{
                transform: rotate(45deg);
                transform: rotate(90deg);
                top: 0px;
            }

            &:checked ~ label .hamburger:after{
                transform: rotate(90deg);
                bottom: 0px;
            }
        }

        .hamburger-container{
            width: 30px;
            height: 29px;
            display: flex;
            align-items: center;
            cursor: pointer;
            margin-top: 6px;

            @include laptop{
                &{
                    display: none;
                }
            }

            .hamburger{
                display: block;
                background-color: $white;
                width: 30px;
                height: 2.5px;
                position: relative;
                z-index: 2;

                &:before, &:after{
                    background-color: $white;
                    content: '';
                    display: block;
                    width: 30px;
                    height: 2.5px;
                    position: absolute;
                    transition: .5s;
                }

                &:before{
                    top: -8px;
                }

                &:after{
                    bottom: -8px;
                }
            }
        }
    }

    // Dropdown
    .dropdown{
        position: fixed;
        width: 100%;
        height: 0;
        overflow: hidden;
        transition: .4s;
        z-index: 3;

        @include landscape{
            &{
                overflow: scroll;
            }
        }

        @include laptop{
            &{
                z-index: 4;
                height: 60px;
                margin-top: -8px;
            }
        }

        &-top{
            padding: 10px;
            padding-top: 20px;
            background-color: $white-smoke;

            @include laptop{
                &{
                    width: 100%;
                    position: absolute;
                    top: -40px;
                    padding: 25px 15px;
                }
            }

            .search{
                position: relative;
                max-width: 400px;
                margin-top: 70px;

                @include laptop{
                    &{
                        margin-top: 0;
                        position: absolute;
                        left: 50%;
                        transform: translateX(-50%);
                        width: 700px;
                    }
                }

                input{
                    border-radius: 30px;
                    border: 2px solid $black;
                    width: 100%;
                    padding: 4px;
                    background-color: $white-smoke;
                    outline: transparent;
                }

                button{
                    position: absolute;
                    top: 0;
                    right: 0;
                    background-color: $black;
                    color: $white;
                    border-radius: 0 30px 30px 0;
                    border: none;
                    padding: 6px 15px;
                }
            }

            select{
                padding: 8px 20px;
                border: none;
                border-radius: 30px;
                margin: 30px 0;
                background-color: $light-gray;
                cursor: pointer;
            }

            .theme-icon i{
                font-size: $small;
                margin-left: 20px;
                cursor: pointer;
            }

            .social-media{
                border-top: 1px solid $black;
                width: 100px;
                padding-top: 10px;

                @include laptop{
                    &{
                        padding-top: 0;
                        border: none;
                    }
                }


                li{
                    font-size: $small;
                    margin-right: 20px;

                    &:hover{
                        transform: rotate(45deg);
                        transition: .5s;
                    }

                    a{
                        color: $black;
                    }
                }
            }
        }

        &-bottom{
            .navbar{
                width: 100%;
                height: 250px;
                background-color: $light-gray;

                @include laptop{
                    &{
                        background-color: initial;
                        height: 50px;
                        width: 460px;
                        position: fixed;
                        top: 55px;
                        left: 50%;
                        transform: translateX(-50%);

                        li{
                            margin: 0 20px;
                        }
                    }
                }

                ul{
                    padding: 10px;

                    li{
                        margin-bottom: 10px;

                        a{
                            font-size: $small;
                            color: $black;

                            @include laptop{
                                &{
                                    color: $white;
                                    font-weight: normal;
                                }
                            }
                        }
                    }

                    .active{
                        opacity: .5;
                    }
                }
            }
        }
    }
}

main{
    .cookie-alert{
        position: fixed;
        z-index: 3;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        padding: 15px;
        text-align: center;
        background-color: $light-gray;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        border-radius: 10px;
        width: 90%;
        max-width: 500px;
        display: none;

        button{
            margin-right: 20px;
        }

        img{
            width: 50px;
            margin-bottom: 20px;
        }

        h3{
            font-size: $small;
            font-weight: bold;
        }

        @include laptop{
            &{
                max-width: 100%;
                width: 100%;
                bottom: 0px;
                top: initial;
                left: 0;
                transform: initial;
            }
        }
    }

    // Whatsapp Support
    .whatsapp-support{
        position: fixed;
        bottom: 15px;
        right: 15px;
        width: 55px;
        height: 55px;
        border-radius: 50%;
        background-color: $black;
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 2;

        a{
            color: $white;
            font-size: $large;
        }
    }
}

footer{
    .infobar{
        margin-top: 100px;
        background-color: $light-gray;
        padding: 50px 0;

        &-item{
            display: flex;

            i{
                font-size: $large;
                color: $black;
                margin-right: 20px;
            }

            h2{
                font-weight: bold;
                font-size: $small;
            }
        }
    }

    .footer-container{
        background-color: $black;
        padding-top: 30px;
        color: $white;

        h2{
            font-size: $small;
            color: $light-gray;
            margin-bottom: 20px;
            font-weight: bold;
        }

        p{
            font-size: $small;
        }

        ul{
            margin-bottom: 40px;

            li{
                margin-bottom: 10px;
                transition: .3s;

                &:hover{
                    opacity: .5;
                    margin-left: 5px;
                }

                a{
                    font-size: $small;
                    color: $white;
                }
            }
        }
    }
}
